body {
	font-family: "Montserrat";
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 61%, #ededed 84%, #b5b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(61%,#ffffff), color-stop(84%,#ededed), color-stop(100%,#b5b5b5));
	background: -webkit-linear-gradient(top,  #ffffff 61%,#ededed 84%,#b5b5b5 100%);
	background: -o-linear-gradient(top,  #ffffff 61%,#ededed 84%,#b5b5b5 100%);
	background: -ms-linear-gradient(top,  #ffffff 61%,#ededed 84%,#b5b5b5 100%);
	background: linear-gradient(to bottom,  #ffffff 61%,#ededed 84%,#b5b5b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b5b5b5',GradientType=0 );
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

li {
	background: -moz-linear-gradient(left,  rgba(143,162,183,0) 0%, rgba(143,162,183,0) 3%, rgba(143,162,183,1) 10%, rgba(143,162,183,1) 90%, rgba(143,162,183,0) 97%, rgba(143,162,183,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(143,162,183,0)), color-stop(3%,rgba(143,162,183,0)), color-stop(10%,rgba(143,162,183,1)), color-stop(90%,rgba(143,162,183,1)), color-stop(97%,rgba(143,162,183,0)), color-stop(100%,rgba(143,162,183,0)));
	background: -webkit-linear-gradient(left,  rgba(143,162,183,0) 0%,rgba(143,162,183,0) 3%,rgba(143,162,183,1) 10%,rgba(143,162,183,1) 90%,rgba(143,162,183,0) 97%,rgba(143,162,183,0) 100%);
	background: -o-linear-gradient(left,  rgba(143,162,183,0) 0%,rgba(143,162,183,0) 3%,rgba(143,162,183,1) 10%,rgba(143,162,183,1) 90%,rgba(143,162,183,0) 97%,rgba(143,162,183,0) 100%);
	background: -ms-linear-gradient(left,  rgba(143,162,183,0) 0%,rgba(143,162,183,0) 3%,rgba(143,162,183,1) 10%,rgba(143,162,183,1) 90%,rgba(143,162,183,0) 97%,rgba(143,162,183,0) 100%);
	background: linear-gradient(to right,  rgba(143,162,183,0) 0%,rgba(143,162,183,0) 3%,rgba(143,162,183,1) 10%,rgba(143,162,183,1) 90%,rgba(143,162,183,0) 97%,rgba(143,162,183,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fa2b7', endColorstr='#008fa2b7',GradientType=1 );
	background-size: 100%;

	border-radius: 10px;
	background-color: #CACCD9;
	margin: 10px;
	list-style-type: none;
	padding-left: 75px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 5%;
	margin-right: 5%;
	opacity: 0;
	height: 0;
}

.choices {
	text-align: center;
}

.choices img {
	height: 20%;
	padding-bottom:  20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	opacity: 0.5;
	transition: 1s all ease;
}

.choices img:hover {
	opacity: 1;
}
